<html>
  <head>
    <title>Synch.Live</title>
  </head>
  <body>
    <h1>Synch.Live experiment tracking</h1>
    <ul>
      <li><a href="/run_setup_scripts" >Run Ansible Set Up Scripts</a></li>
      <li><a href="/run_code_sync_script" >Run Ansible To Copy Latest Python Files</a></li>
      <li><a href="/run_clock_sync_script" >Run Ansible To Synchronise Clocks For Experiment</a></li>
        <li><a href="/test_lights">Test lights</a></li>
	    <li><a href="/start_tracking" >Start Tracking</a></li>
	    <li><a href="/stop_tracking" >Stop Tracking</a></li>
        <li><a href="/calibrate" >Calibrate PiCamera (tracking must be started)</a></li>
        <li><a href="/observe" >Observe running experiment</a></li>
    </ul>

    <ul>
        <p> {{ running_text }} </p>
	    <li><a href="/video_feed" >View Live Feed</a></li>
    </ul>
  </body>
</html>
